<?php

$store = $block->getStore();
?>
    <h1><?= __($store->getName()) ?></h1>
    <div class="o-store">
        <img class="c-store__image" src="<?php echo $block->getMediaUrl() ?>" />
        <div class="o-store__body">
            <p class="c-store__text"><?= __("Description: " . $store->getDescription()) ?></p>
            <p class="c-store__text"><?= __("Address: " . $store->getAddress()) ?></p>
            <p class="c-store__text"><?= __("Work Schedule: " . $store->getWorkSchedule()) ?></p>
            <p class="c-store__text"><?= __("Coordinates: " . $store->getLatitude()) . ", " . $store->getLongitude()?></p>
        </div>
    </div>
